name: master pre-merge check

on: 
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

jobs:
  call-test:
    name: call test
    runs-on: ubuntu-20.04

    steps:
    - name: test
      run: echo "call test"
