name: workflow control

on: 
  pull_request_target:
    types: [opened, synchronize, labeled, closed]
    paths:
      '.github/workflows/**'

jobs:
  check-actions:
    name: check actions
    runs-on: ubuntu-20.04

    steps:
    - name: wait 30 sec
      run: sleep 30
    - if: contains(github.event.pull_request.labels.*.name, 'update CI') != true
      name: cancel workflows
      uses: rokroskar/workflow-run-cleanup-action@master
      env:
        GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
    - if: contains(github.event.pull_request.labels.*.name, 'update CI') != true
      run: exit 1
    - if: success()
      run: echo "enabled editing workflow."
